/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Lora:ital@1&family=Raleway:ital,wght@1,300&display=swap");
/* MISCELANEOUS*/
/* Maps de fuentes */
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* PARTIALS */
header {
  background-color: black;
  height: 200px;
  list-style-type: none;
  text-decoration: none; }
  header .navbar {
    font-style: italic;
    display: flex;
    align-items: flex-end; }
    header .navbar .navbar_toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: box-shadow .15s ease-in-out; }
    header .navbar .nav_link {
      text-decoration: none;
      color: antiquewhite; }
    header .navbar ul {
      list-style-type: none;
      text-decoration: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; }
  header .nav_item--active, header .nav_item1 {
    border-bottom: 2px solid cyan; }
  header .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)); }
  header .logo {
    padding-left: 50px;
    padding-top: 50px; }
  header a {
    text-decoration: none;
    color: antiquewhite;
    display: inline-block; }

footer {
  display: inline-block;
  width: 100%;
  height: 5%;
  background-color: aqua;
  border-bottom: 50px;
  font-style: oblique; }

/* VIEWS */
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: color black; }
  body h1 {
    text-align: center;
    font-style: italic; }
  body h2 {
    padding-left: 75px; }
  body .carousel_control_prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: black;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; }

.carousel-item {
  display: inline-blck; }
  .carousel-item .especificaciones1 {
    transform: translate(1000px, -450px);
    font-size: x-large; }

.sectioncontact {
  padding-left: 40px;
  display: flex;
  justify-content: space-between; }
  .sectioncontact input {
    font-size: x-large; }
