/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Bebas+Neue&family=Lora:ital@1&family=My+Soul&family=Raleway:ital,wght@1,300&family=Syncopate&display=swap");
/* MISCELANEOUS*/
/* MAPS DE PADDINGS */
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* PARTIALS */
header {
  background-color: black;
  height: 200px;
  list-style-type: none;
  text-decoration: none; }
  header .navbar {
    font-style: italic;
    display: flex;
    align-items: flex-end; }
    header .navbar .navbar-brand-active {
      transform: translate(0px, 0px); }
    header .navbar .navbar_toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: box-shadow .15s ease-in-out; }
    header .navbar .nav_link {
      text-decoration: none;
      color: antiquewhite; }
    header .navbar ul {
      list-style-type: none;
      text-decoration: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; }
  header .nav_item--active, header .nav_item1, header .nav_item2, header .nav_item3, header .nav_item4, header .nav_item5 {
    border-bottom: 2px solid cyan; }
  header .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)); }
  header a {
    text-decoration: none;
    color: antiquewhite;
    display: inline-block; }

footer {
  color: antiquewhite;
  display: inline-block;
  width: 100%;
  height: 5%;
  background-color: black;
  border-bottom: 50px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0px; }
  footer .redes {
    display: inline-block;
    flex-direction: row; }

/* VIEWS */
html {
  max-width: 2040px; }

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: color black;
  min-height: 100vh; }
  body .frase {
    transform: translate(100px, -200px);
    font-size: 3rem;
    max-width: 40%;
    font-family: "Lora", serif;
    color: black; }
  body .mundo {
    height: 5;
    font-family: "Bebas Neue", cursive;
    font-size: larger;
    color: black; }
  body .imgs {
    transform: translate(700px, 100px); }
  body h1 {
    text-align: center;
    font-style: italic; }
  body h2 {
    padding-left: 75px; }
  body .carousel_control_prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: black;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; }

.carousel-item {
  display: inline-blck; }
  .carousel-item .especificaciones1 {
    transform: translate(1000px, -450px);
    font-size: x-large;
    font-style: italic; }

.sectioncontact {
  min-height: 80vh;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  font-family: "Anek Odia", sans-serif;
  display: grid;
  grid-template-columns: repeat();
  grid-template-columns: repeat();
  gap: fghfgh;
  grid-template-areas: fghfghfg; }
