header{
    background-color: black;
    height: 200px;
    list-style-type: none;
    text-decoration: none;
    
    .navbar{
        font-style: italic;
        display: flex;
        align-items: flex-end;   
        
    
    .navbar_toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }
    .nav_link{
        text-decoration: none;
        color: antiquewhite;
    }
    ul{
        list-style-type: none;
        text-decoration: none;
        width: 100%; 
        display: flex; 
        @include flex( row, space-between, flex-end)
       
    }
    
}
.nav_item--active{ 
    border-bottom: 2px solid cyan;
}
.nav_item1{
    @extend.nav_item--active
}
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
    }
    .logo{
        padding-left: 50px;
        padding-top: 50px;
    }
    a{
        text-decoration: none;
        color: antiquewhite;
        display: inline-block;
    }
}