html{
    max-width: 2040px;
    
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $principal;
    min-height: 100vh;
    .frase{
        transform: translate(100px, -200px);
        font-size: 3rem;
        max-width:40%;
        font-family: $font-family;
        color:  black;
    }
    .mundo{
        height: 5;
        font-family: $font-one;
        font-size: larger;
        color:  black;

    }
    .imgs{
        transform: translate(700px,100px);
    }
    h1{
        text-align: center;
        font-style: italic;
    }
    h2{
        padding-left: 75px;
    }
    // .home{
    //     background-color: rgb(149, 120, 177) ;
    // }
    .carousel_control_prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: black;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }
}
.carousel-item{
    display: inline-blck;
    .especificaciones1{
       transform: translate(1000px,-450px);
       font-size: x-large;
       font-style: italic ;
    }
    
    
}
.sectioncontact{
    min-height: 80vh;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-family: $font-two;
    display: grid;
    grid-template-columns: repeat();
    grid-template-columns: repeat();
    gap:fghfgh ;
    grid-template-areas: fghfghfg;

}