
    $principal: color black;
    $secondary:color antiquewhite ;
    $font-one:'Bebas Neue', cursive;
    $font-two: 'Anek Odia', sans-serif;
    $font-three: 'Raleway', sans-serif;
    $font-four: 'Syncopate', sans-serif;
    $font-family: 'Lora', serif;
   

   /* MAPS DE PADDINGS */
    $paddings: (
        xlarge: 5rem,
        small:3rem,
        medium: 2rem,
        large: 1rem
    );

    

