
    $principal: color black;
    $secondary:color antiquewhite ;

    /* Maps de fuentes */

    $fuentes:(
        Anekk: 'Anek Odia', sans-serif
        Loraa: 'Lora', serif
        Ralewayy: 'Raleway' sans-serif
    );

    $paddings: (
        xlarge: 5rem,
        small:3rem,
        medium: 2rem,
        large: 1rem
    );

    

